@use '../abstracts' as *;

.container {
  max-width: $min-xl + 40 + px;
  padding: 0 20px;
  margin: 0 auto;
  @media (max-width: $max-lg + 40 + px) {
    max-width: 960px;
  }
  @media (max-width: $max-md + px) {
    max-width: 720px;
  }
  @media (max-width: $max-sm + px) {
    max-width: 540px;
  }
}
